.wrapperLayout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.layout {
    display: flex;
    width: 100%;
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: grey white;
    scrollbar-gutter: stable;
}

.main &::-webkit-scrollbar-track {
    background: white;
/* цвет зоны отслеживания */
}

.wrpapperOutlet {
    flex: 7;
}

.wrapperFallbackForOutlet {
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}