@import url('./assets/fonts/fonts.css');

html,
body,
#root,
.App {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

.App {
  font-family: 'Roboto', 'Helvetica', 'Arial' sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

.Toastify__toast-container--bottom-right {
  width: auto !important;
}
.Toastify__toast {
  width: auto !important;
  min-width: 300px;
}